.item {
  width: 540px;
  height: 30px;
  padding: 0px 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-content: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: lightblue;
}
.completed {
  text-decoration: line-through;
}
.controlButtons {
  display: grid;
  gap: 5px;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
}
.controlButtons button {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: lightcoral;
  cursor: pointer;
}
.controlButtons button svg {
  width: 50%;
  height: 50%;
}
.controlButtons button svg path {
  fill: whitesmoke;
}
