.item {
  width: 540px;
  height: 30px;
  padding: 0px 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-content: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(240, 194, 194);
  color: darkcyan;
}
.completed {
  text-decoration: line-through;
}
.controlButtons {
  display: grid;
  gap: 5px;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
}
.controlButtons button {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: lightcoral;
  box-shadow: inset 0px 0px 4px 1px lightgray;
  cursor: pointer;
}
.controlButtons button svg {
  width: 50%;
  height: 50%;
}
.controlButtons button svg path {
  fill: whitesmoke;
}
.controlButtons input[type="checkbox"] {
  width: 40px;
  height: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: inset 0px 0px 4px 1px lightcoral;
  background-color: lightgray;
  appearance: none;
  cursor: pointer;
}
.controlButtons input[type="checkbox"]:checked {
  background-color: rgb(144, 228, 224);
  box-shadow: inset 0px 0px 4px 2px lightgray;
}
.controlButtons input[type="checkbox"]::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: lightcoral;
  box-shadow: inset 0px 0px 4px 1px lightcoral;
  transform: scale(1.1);
  transition: all 400ms;
}
.controlButtons input[type="checkbox"]:checked::before {
  left: 20px;
  background-color: lightseagreen;
  box-shadow: inset 0px 0px 4px 1px gray;
}
